.titulo {
    display: inline-flex;
}
.logo {
    margin-top: -13px;
    margin-right: 10px;
}
.formulario {
    margin-left: 25%;
    margin-right: 25%;
}
.sent {
    width: 0%;
    margin-left: 360px;
    float: left;
}
